<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    {% include 'header.html' %}

<div class="container">
    <div class="chat-container">
        <div class="chat-header">
            Votre assistant EcoloBot
        </div>

        <div class="chat-body" id="chat-body">
            <div class="message received">
                <div class="bubble">
                    Bonjour ! 
                    
                    Je suis EcoloBot, votre robot assistant durant votre visite. Que puis-je faire pour vous ?
                </div>
            </div>
            <div class="message sent">

            </div>
        </div>

        <div class="chat-footer">
            <input type="text" id="message-input" placeholder='Poser une question (Ex: "Il y a combien de platanes sur Paris ?" )'>
            <button id="send-button">Envoyer</button>
        </div>
    </div>
</div>

    <script src="../static/js/script.js"></script>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
</body>
</html>
